* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #100c31;
  background-color: #eed9be;
  box-shadow: -16px -13px 41px -7px rgba(0, 0, 0, 0.49) inset;
  -webkit-box-shadow: -16px -13px 41px -7px rgba(0, 0, 0, 0.49) inset;
  -moz-box-shadow: -16px -13px 41px -7px rgba(0, 0, 0, 0.49) inset;
}
/*────────────────────────────────────Header────────────────────────────────*/
header {
  width: 100%;
  background-color: #804a6a;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 5;
}
.nav {
  margin-right: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}

.nav-list-item {
  margin: 0px 20px;
}

nav a:hover {
  color: #f8aa93;
}

header a:focus,
.button:focus,
.project-section a:focus,
.contact-section a:focus,
input:focus,
textarea:focus,
.footer-bar a:focus {
  box-shadow: 0px 0px 9px 3px #f9977b;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

.menu-icon {
  color: white;
  display: none;
}

/*────────────────────────────────────About me section────────────────────────────────*/
.flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutme-section {
  display: flex;
  margin-top: 50px;
  padding: 80px 0px;
  justify-content: space-evenly;
  align-items: center;
}

.aboutme-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-title {
  text-align: center;
  margin-top: 100px;
  color: #f89679;
  font-weight: bolder;
  font-size: 40px;
}

.aboutme-section-title {
  font-size: 50px;
  font-family: "Mogra", cursive;
  font-style: italic;
  font-weight: bold;
  color: #804a6a;
  font-weight: bolder;
}

.button {
  background-color: #f9ab94;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  width: 40%;
  text-align: center;
}

.button:hover {
  color: white;
  background-color: #fcb59f;
}

.aboutme-img {
  width: 350px;
  height: 350px;
  padding: 20px;
  border-radius: 50%;
}
/*────────────────────────────────────Skills section────────────────────────────────*/
.skill-section {
  align-items: center;
  margin-top: 50px;
}

.skill-text {
  width: 50%;
}
.skill-text p {
  text-align: center;
  margin: 20px;
}

.skill-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 60px;
  width: 80%;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 15px;
  padding: 60px;
  border: 2px solid #f89679;
  border-radius: 10px;
}

.skill-card-icon {
  font-size: 80px;
  color: #804a6a;
}

.card-description {
  font-weight: bold;
  text-align: center;
}
.skill-card:hover {
  border: 2px solid #804a6a;
  color: #804a6a;
}

/*────────────────────────────────────Quote section────────────────────────────────*/
.quote-section {
  padding: 100px;
  margin-top: 60px;
  background-color: #7e4b6a;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/patron-costura-botanico-floral-abstracto-flores-color-blanco-sobre-fondo-brillante-flor-cerezo_651861-429.jpg);*/
  color: white;
  align-items: center;
}
.fa-quote-right {
  font-size: 90px;
  color: white;
}

blockquote {
  padding: 40px;
  color: white;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  width: 80%;
}
/*────────────────────────────────────Projects section────────────────────────────────*/
.project-section {
  align-items: center;
}

.project-text {
  width: 50%;
}

.project-text p {
  text-align: center;
  margin: 30px;
}

.project-card-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  width: 300px;
  height: 250px;
  padding: 30px;
  background-color: white;
  color: #100c31;
  border-radius: 10px;
  align-items: center;
  border: 1px solid #f89679;
  margin: 10px 0px;
}

.project-card-img {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.project-card:hover {
  border: 1px solid #804a6a;
  color: #804a6a;
}
/*______________________________Contact section_______________________*/
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  margin-top: 40px;
}
.contact-title {
  font-size: 40px;
  color: #f89679;
  font-weight: bold;
}
.contact-section-text {
  margin-top: 15px;
}
.contact-section a {
  color: #100c31;
}

.contact-section a:hover {
  color: #804a6a;
}
.contact-container {
  display: flex;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 60px;
  margin: 50px;
}
.social-media-links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.social-media-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
}

.social-media-icon {
  color: #804a6a;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  background-color: #eed9be;
  margin: 10px;
}

.social-media-icon:hover,
.contact-section a:hover .social-media-icon,
.footer-links a:focus .social-media-icon {
  outline: none;
  color: #faeede;
  background-color: #804a6a;
  border: solid 2px #eed9be;
}

.contact-section ul:hover {
  color: #804a6a;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

.input-name-lastname-container {
  display: flex;
}

.input-name-container,
.input-lastname-container {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 10px;
}

#input-submit {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

#message {
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}

/*────────────────────────────────────Footer────────────────────────────────*/
footer {
  background-color: #804a6a;
  padding: 60px;
  align-items: center;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list-item {
  margin: 0 15px;
}

.footer-list {
  margin: 15px;
}

footer p {
  color: white;
  text-align: center;
}

.footer-links a:focus .social-media-icon {
  outline: none;
  box-shadow: 0px 0px 9px 3px #f9977b;
}

.footer-links a:focus {
  outline: none;
}
/*────────────────────────────────────Media queries────────────────────────────────*/

@media screen and (max-width: 1670px) {
  .project-card-container {
    width: 75%;
  }
}
@media screen and (max-width: 1320px) {
  .project-card-container {
    width: 70%;
  }
}

@media screen and (max-width: 1280px) {
  .project-card-container {
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  .project-card-container {
    width: 90%;
  }
}

@media screen and (max-width: 998px) {
  .project-card-container {
    width: 95%;
  }
}

@media screen and (max-width: 980px) {
  .aboutme-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .aboutme-section .button {
    align-self: center;
  }

  .contact-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    box-shadow: none;
  }

  .social-media-links-container,
  .contact-form-container {
    width: 100%;
  }

  .social-media-links {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 950px) {
  .project-card-container {
    width: 70%;
  }
}

@media screen and (max-width: 870px) {
  .project-card-container {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .project-card-container {
    width: 90%;
  }
}

@media screen and (max-width: 712px) {
  .nav {
    display: none;
  }

  .footer-bar {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .project-card-container {
    justify-content: center;
  }
  .project-card {
    width: 300px;
    height: 300px;
  }
  .project-card-img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .skill-card {
    width: 150px;
    height: 150px;
    padding: 40px;
  }

  .skill-text,
  .project-text {
    width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 540px) {
  .aboutme-section-title {
    font-size: 40px;
  }

  .aboutme-img {
    height: 250px;
    width: 250px;
  }

  .card-description {
    font-size: 12px;
  }
  .quote-section {
    padding: 50px;
  }

  blockquote {
    font-size: 16px;
    width: 100%;
  }

  .social-media-links {
    flex-direction: column;
  }

  .contact-title {
    font-size: 34px;
  }
}

@media screen and (max-width: 480px) {
  .input-name-lastname-container {
    flex-direction: column;
  }

  .skill-card {
    width: 120px;
    height: 120px;
    padding: 30px;
    margin: 10px;
  }
  .skill-card-icon {
    font-size: 60px;
  }

  .social-media-links a {
    font-size: 12px;
  }
}

@media screen and (max-width: 362px) {
  .section-title {
    font-size: 32px;
  }

  .project-card {
    width: 250px;
    height: 250px;
  }
  .project-card-img {
    width: 200px;
    height: 200px;
  }

  .quote-firm {
    font-size: 16px;
  }
}
